mujoco
mujoco_mjx
brax
mediapy
etils
matplotlib
ml_collections
imageio[ffmpeg]
playground @ git+https://github.com/badfortrains/mujoco_playground.git@rick
# We will install JAX specifically for CUDA in the startup script